#imgh{
	height: 400px;
}
#fb{
	color:#1F45FC;
}
#vb{
	color: violet;
}
#ph{
	color: white;
}
#mail{
	color: white;
}
hr.divided{
	width: 90px;
	margin: auto;
	border: 1px solid #2b87b3;
}

.gallery{
	width: 500px;
	height: 400px;
}