/*<<<<<<< HEAD
=======
body{
    background-color: #cbbe8a;
}
>>>>>>> 320a751bef0fbef4981ae3c9567c484ec11e9bbf*/
*{
    
}
#nav, #fb{
    background-color: #7dcdf5;
}
/*#nav a:hover{
    background-color: white;

}*/
/*#nav a:active{
    color: green;
}*/
#navbar a:link{
    color: red;
}
#navbar a:hover{
    color: green;
}
#navbar a:visited{
    color: grey;
}
#navbar a:active{
    color: blue;
}


#vb{
	color: #7F00FF;
}
#ph, #mail{
	color: white;
}

.fonts{
    font-family: 'Lobster', cursive;

}
div.quote{
    position: absolute;
    top: 60%;
    left: 57%;
    background-color: rgba(0,0,0,0.5);
    padding: 30px;
    font-size: 30px;
    font-style: italic;
    color: white;
}
#ft{background-color: #20b1fa;}

@media only screen and (max-width: 1440px) and (min-width: 1024px){
#Carousel .carousel_text{
    position: absolute;
    top: 170px;
    left: 70px;
}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
#Carousel .carousel_text{
    position: absolute;
    top: 110px;
    left: 70px;
}
}

/*<<<<<<< HEAD*/

/*=======
<<<<<<< HEAD*/
hr.divided{
	width: 90px;
	margin: auto;
	border: 2px solid #7dcdf5;
}

.gallery{
	width: 500px;
	height: 400px;
}
/*=======*/
#name, #wlcm{
	font-family: 'Lobster', cursive;
}

#feature{
	font-family: 'Noto Serif';
}
hr.divided{
    width: 220px;
    margin: auto;
    border:2px solid #2980b9;
}
/*.background_img{
    background-image: url(image/bg7.jpg);
    background-attachment: fixed;
}*/

/*slider plugin*/

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    /*height: 200px;*/
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
*{
	
}

hr.artist-page{
	width: 110px;
	border:2px solid #7dcdf5; 
}
hr.claude{
	width: 250px;
	border:2px solid #7dcdf5; 
}
hr.georges{
	width: 270px;
	border:2px solid #7dcdf5; 
}
hr.jve{
	width: 225px;
	border:2px solid #7dcdf5; 
}
hr.johannes{
	width: 320px;
	border:2px solid #7dcdf5; 
}
hr.leonardo{
	width: 325px;
	border:2px solid #7dcdf5; 
}	
hr.picasso{
	width: 240px;
	border:2px solid #7dcdf5; 
}
hr.rembrant{
	width: 200px;
	border:2px solid #7dcdf5;
}
hr.vangogh{
	width: 320px;
	border:2px solid #7dcdf5;
}
hr.james{
	width: 540px;
	border:2px solid #7dcdf5;	 
}
hr.about{
    width: 175px;
    margin: auto;
    border: 2px solid #7dcdf5;
}	
.titlefont{
    font-family: 'Patua One', cursive;
}
.pfont{
    font-family: 'Fraunces', serif;
}

